<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>Оформление заказа</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(finalorders)}" />
    <h1>Оформление заказа</h1>
    <table class="table table-hover">


        <tr>
            <th>Имя клиента</th>
            <th>Телефон</th>
            <th>адрес</th>
        </tr>

        <tr th:each="c : ${customer}">
            <td th:text="${c.name}"/>
            <td th:text="${c.phone}"/>
            <td th:text="${c.address}"/>
        </tr>


        <form method="POST" th:action="@{/orders/save/}">
            <tr th:each="oi : ${@cart.items}">
            <div class="form-group col-md-6">
                <label for="title">Название</label>
                <input class="form-control" th:value="${oi.product.title}" name="title" type="text" id="title">
            </div>
            <div class="form-group col-md-6">
                <label for="quantity">Количество</label>
                <input class="form-control" th:value="${oi.quantity}" name="quantity" type="number" id="quantity">
            </div>
            <div class="form-group col-md-6">
                <label for="price">Цена</label>
                <input class="form-control" th:value="${oi.price}" name="price" type="number" id="price">
            </div>
            <button class="btn btn-primary" type="submit">Оформить заказ</button>
        </form>


        </thead>
        <tbody>
        </tbody>
        </form>
    </table>

</div>

</body>
</html>
</html>