<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>Оформление заказа</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(finalorders)}" />
    <h1>Оформление заказа</h1>
    <table class="table table-hover">

        <form th:action="@{/orders/save/}" th:object="${customer}" method="GET">
        <thead class="thead-dark">
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>

        <tr th:each="oi : ${@cart.items}">
            <input th:field="*{oi.product.title}"
            <td th:text="${oi.product.title}"/>
            <td>
                <span th:text="${oi.quantity}"/>
            </td>
            <td th:text="${oi.quantity + ' x ' + oi.pricePerProduct + ' = ' + oi.price}"/>
        </tr>


        <tr>
            <th>Имя клиента</th>
            <th>Телефон</th>
            <th>адрес</th>
        </tr>

        <tr th:each="c : ${customer}">
            <td th:text="${c.name}"/>
            <td th:text="${c.phone}"/>
            <td th:text="${c.address}"/>
        </tr>

        </thead>
        <tbody>
        </tbody>
        </form>
    </table>

    <a class="btn btn-primary">Оформить заказ</a>
</div>

</body>
</html>
</html>